<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %X{traceId}:%X{spanId} accountsApplication %msg%n"/>
        </Console>
        <Kafka name="Kafka" syncSend="false" topic="logs-topic">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %level %logger - %X{traceId}:%X{spanId} accountsApplication %msg"/>
            <Property name="bootstrap.servers">${env:KAFKA_BOOTSTRAP_SERVERS:-pinyaev.kafka.ru:9092}</Property>
            <Property name="acks">all</Property>
            <Property name="linger.ms">1000</Property>
        </Kafka>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Kafka"/>
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="org.apache.kafka" level="INFO" >
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>